      *{
           margin: 0; padding: 0; box-sizing: border-box;        
      }

        .head { 
            background-color: rgb(148,222,238);
            height: 100vh;
            width: 100%;
            background: linear-gradient(90deg, rgba(148,222,238,1) 0%, rgba(96,162,219,1) 27%, rgba(67,84,208,1) 63%, rgba(92,42,199,1) 100%); 
            clip-path: polygon(0% 0%, 100% 0%,100% 85%,0% 100%);                     
            
        }

        
        .nbar{
            width: 100%;
            
            display:flex;  

        }


        .logo {
                      
           margin-left: 3vw; 
           margin-top: 0.8vw;          
            line-height: 1vw;
        }


        .cname {
            
            font-size: 34px;
            font-family:'Lobster', cursive;
            color: white; 
            line-height: 5vw;
            margin-left: 15px;
            width: 40%;
        }


        #btn1 {
            font-size: 1vw;
            font-family:'Work Sans', sans-serif;
            border-radius: 40px;
            text-align: center;
            padding: 0.8vw; 
            height: 2.8vw;
            background: rgb(148,222,238);
            background: linear-gradient(90deg, rgba(148,222,238,1) 0%, rgba(96,162,219,1) 27%, rgba(67,84,208,1) 63%, rgba(92,42,199,1) 100%);
            box-shadow: 3px 3px 3px #00CED1;

        }

        #arrow{
            border-radius: 100px;
        }


        .menu {
            
            color: white;
            height: 7vw;
            width: 60%;

        }

        .menu ul{
            width: 100%;
            height: 5vw;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }

        .menu  ul li{
            list-style: none;
            text-transform: uppercase;
            font-size: 1vw;
            font-family: 'Work Sans', sans-serif;
        }
        
        .menu ul li a{
            color: white;

        }

        .menu ul li button{
            text-transform: uppercase;
        }

        .join{
            display: flex;
            width: 100%;
            height: 25vw;
            
        }

        .vector{
             padding-left:5vw;                              
             width: 40%;  
             display: flex;


        }

        .vector img{
            width:80%;
                    
          

        }

        .content{
            width: 60%; 
            padding-top: 5vw;  
            padding-right: 2vw; 
            display: flex;
            flex-direction: column;  
            align-items: center;     
        }


        .content h1{
           
            color: white;
            padding-bottom: 2vw; 
            font-size: 4vw;
            font-family: 'Chakra Petch', sans-serif;
        }

        .content p{
            font-size: 1.2vw;
            padding-right: 2vw;
            text-align: center;
            color: white;
            font-family: 'Balsamiq Sans', cursive;
        }

        #btn2{
            font-family: 'Balsamiq Sans', cursive;
            background: rgb(255,239,0);
            background: linear-gradient(90deg, rgba(255,239,0,1) 0%, rgba(185,227,40,1) 46%, rgba(101,226,15,1) 100%);
            border-radius: 40px;
        }

        #search{
            border-radius: 30px;
            padding: 8px;     
            background: rgb(255,239,0);
            background: linear-gradient(90deg, rgba(255,239,0,1) 0%, rgba(185,227,40,1) 46%, rgba(101,226,15,1) 100%);
            color:white;
            font-family: 'Balsamiq Sans', cursive;  
             
        }

        #input1{
            padding:7px;
            border-radius: 10px;
            border-style: none;
            width: 350px;
            font-family: 'Balsamiq Sans', cursive;
        }

         
        @keyframes arrowmove {
            0%   {left:0vw; top:0vw;}

            50% {left:0vw ;top:4vw;}

            100% {left:0vw; top: 0vw; }
          
       } 

       .arrow {
           position: relative;
           animation-name: arrowmove;
           animation-duration: 4s; 
           animation-iteration-count: infinite; 
           animation-timing-function:ease;
       }

     
  